{% extends "base.html" %} {% block title %}Post{% endblock %} {% block content%}

<!-- Followed Questions Section -->
<div class="container w-75 pt-5">
  <h2 class="mb-5"></h2>

  <!-- Add a New Question -->
  <div class="card mb-3 border-0">
    <!-- Add a New Question Button -->
    <button
      class="btn btn-danger fw-bold"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#addQuestionForm"
      aria-expanded="false"
      aria-controls="addQuestionForm"
    >
      Add a New Post
    </button>

    <!-- Add a New Question Form (Collapsed by Default) -->
    <div class="card mb-3 border-0 collapse" id="addQuestionForm">
      <div class="card-body mx-auto w-50">
        <h5 class="card-title py-2 m-0 p-0 text-danger">Add a New Post</h5>
        <form
          action="{% url 'add_question' %}"
          method="post"
          class="mt-3 form-floating mx-auto"
        >
          {% csrf_token %}
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="questionTitleInput"
              name="title"
              placeholder="Title"
              required
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              id="questionDescriptionInput"
              name="description"
              placeholder="Description"
              rows="3"
              required
            ></textarea>
          </div>
          <!-- Choice of topics -->
          {% comment %} <div class="mb-3">
            <select
              class="form-select"
              id="questionTopicsInput"
              name="topics"
              aria-label="Select Topics"
              required
              multiple
            >
              <option selected disabled value="">Select Events</option>
              {% for topic in topics %}
              <option value="{{ topic.id }}">{{ topic.name }}</option>
              {% endfor %}
            </select> {% endcomment %}
          </div>
          <button type="submit" class="btn btn-danger">Submit Post</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      {% if all_questions.has_previous %}
      <li class="page-item">
        <a class="btn btn-outline-danger mx-1" href="?page=1">First</a>
      </li>
      <li class="page-item">
        <a
          class="btn btn-outline-danger mx-1"
          href="?page={{ all_questions.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link"
          >Page {{ all_questions.number }} of {{
          all_questions.paginator.num_pages }}.</span
        >
      </li>

      {% if all_questions.has_next %}
      <li class="page-item">
        <a
          class="btn btn-outline-danger mx-1"
          href="?page={{ all_questions.next_page_number }}"
          >Next</a
        >
      </li>
      <li class="page-item">
        <a
          class="btn btn-outline-danger mx-1"
          href="?page={{ all_questions.paginator.num_pages }}"
          >Last</a
        >
      </li>
      {% endif %}
    </ul>
  </div>

  <!-- Display Paginated Questions -->
  {% for question in all_questions %}
  <div class="card mb-3 border-0">
    <div class="card-body">
      <a href="{% url 'about' question.author.username %}">
        <div class="">
          <img
            src="{{ question.author.profilePicture.url }}"
            width="36px"
            class="rounded-circle"
            alt="user"
          />
          <span class="fw-bold text-danger px-2"
            >{{ question.author.username }}</span
          >
        </div>
      </a>
      <h5 class="card-title py-2 m-0 p-0 text-danger">{{ question.title }}</h5>
      <p class="card-text p-0 m-0 pb-2">{{ question.description }}</p>
      {% comment %}
      <a
        href="#"
        class="btn btn-outline-danger"
        data-bs-toggle="collapse"
        data-bs-target="#answerForm{{ question.id }}"
        >Comment this Post</a
      >
      {% endcomment %}

      <!-- Answer form -->
      <div class="collapse mt-3" id="answerForm{{ question.id }}">
        <form action="{% url 'answer_question' question.id %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="answerInput" class="form-label fw-bold"
              >Your Comment</label
            >
            <textarea
              class="form-control"
              id="answerInput"
              name="answer"
              rows="3"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-danger">Submit Comment</button>
        </form>
      </div>

      <div class="d-flex align-items-center py-2 my-3 border-bottom border-top">
        {% comment %}
        <!-- Like button -->
        <form action="{% url 'like_question' question.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn p-0 m-0">
            <span class="p-0 m-0 fw-bold fs-6 text-success p-1"
              >{{ question.likes }}</span
            >
            <i class="p-0 m-0 text-success fa-solid fa-thumbs-up"></i>
          </button>
        </form>
        <!-- Dislike button -->
        <form action="{% url 'dislike_question' question.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="ms-3 btn p-0 m-0">
            <span class="p-0 m-0 fw-bold fs-6 text-danger p-1"
              >{{ question.dislikes }}</span
            >
            <i class="p-0 m-0 text-danger fa-solid fa-thumbs-down"></i>
          </button>
        </form>
        {% endcomment %}
      </div>

      {% comment %}
      <!-- Topics related to questions -->
      <div class="mt-3">
        <span class="fw-bold text-danger">Events:</span>
        {% for topic in question.topics.all %}
        <a
          href="{% url 'topic_page' topic.id %}"
          class="text-decoration-none text-dark"
        >
          <span class="m-0 p-1 rounded btn btn-outline-dark"
            >{{ topic.name }}</span
          >
        </a>
        {% endfor %}
      </div>
      {% endcomment %}

      <!-- Answers of questions -->
      <div class="mt-3 p-0 bg-light rounded rounded-sm p-2 px-3">
        <!-- heading -->
        <div class="d-flex align-items-center pb-3">
          <h5 class="card-title py-2 m-0 p-0 fs-6 text-danger">Comment:</h5>
          <span class="text-dark rounded rounded-sm ms-2"
            >({{ question.answer_set.count }})</span
          >
        </div>

        {% for answer in question.answers %}
        <div class="pb-2">
          <div class="mb-2">
            <a
              href="{% url 'about' answer.author.username %}"
              class="text-decoration-none text-dark"
            >
              <img
                src="{{ answer.author.profilePicture.url }}"
                width="24px"
                class="rounded-circle"
                alt="user"
              />
              <span class="fw-normal text-danger ps-2"
                >{{ answer.author.username }}</span
              >
            </a>
          </div>
          <p class="card-text ps-0 pt-1 m-0">{{ answer.description }}</p>

          <!-- TODO: change forms for answers -->
          <div
            class="d-flex align-items-center py-2 my-3 border-bottom border-top"
          >
            {% comment %}
            <!-- Like button -->
            <form action="{% url 'like_answer' answer.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn p-0 m-0">
                <span class="p-0 m-0 fw-bold fs-6 text-success p-1"
                  >{{ answer.likes }}</span
                >
                <i class="p-0 m-0 text-success fa-solid fa-thumbs-up"></i>
              </button>
            </form>
            <!-- Dislike button -->
            <form action="{% url 'dislike_answer' answer.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="ms-3 btn p-0 m-0">
                <span class="p-0 m-0 fw-bold fs-6 text-danger p-1"
                  >{{ answer.dislikes }}</span
                >
                <i class="p-0 m-0 text-danger fa-solid fa-thumbs-down"></i>
              </button>
            </form>
            {% endcomment %}
          </div>
        </div>
        {% endfor %}
      </div>

      {% if question.answer_set.count > 2 %}
      <!-- View All Button -->
      <div class="d-flex justify-content-end">
        <a
          href="{% url 'question_page' question.id %}"
          class="btn btn-outline-danger"
          >View All Comments</a
        >
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      {% if all_questions.has_previous %}
      <li class="page-item">
        <a class="btn btn-outline-danger mx-1" href="?page=1">First</a>
      </li>
      <li class="page-item">
        <a
          class="btn btn-outline-danger mx-1"
          href="?page={{ all_questions.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link"
          >Page {{ all_questions.number }} of {{
          all_questions.paginator.num_pages }}.</span
        >
      </li>

      {% if all_questions.has_next %}
      <li class="page-item">
        <a
          class="btn btn-outline-danger mx-1"
          href="?page={{ all_questions.next_page_number }}"
          >Next</a
        >
      </li>
      <li class="page-item">
        <a
          class="btn btn-outline-danger mx-1"
          href="?page={{ all_questions.paginator.num_pages }}"
          >Last</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
