{% extends "base.html" %}
{% load static %}
{% block title %}Comeunite Password Reset{% endblock title %}

{% block content %}

    {% if error_message %}
        <p class="text-danger text-center">{{ error_message }}</p>
    {% endif %}

<div class= "pic">

    <div class="container login-container mx-auto py-3 w-50 h-75 shadow pt-5 py-3 bg-white rounded">
        <div class="text-center">
            <a href="{% url 'profile' %}"><img src="{% static 'img/logo-short.png' %}" alt="logo" class="img-fluid my-5" width="100px"></a>
        </div>

        <div class="text-center my-2">
            <h3 class="mb-5">Forgot your password?</h3>
            <p>Enter your email address and <br> we'll send you a link to reset your password.</p>
        </div>

        <div class="text-center w-50 mx-auto mt-2" >
            <form method='post'> {% csrf_token %} 

            <div class="form-group my-2">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>

            <div class="form-group my-2">
                <button type="submit" class="btn btn-success btn-block w-100">Send</button>
            </div>

            </form>
    </div>
</div>

{% endblock content %}
