{% extends "base.html" %}
{% load static %}
{% block title %}Comeunite enter new password{% endblock title %}

{% block content %}

    {% if error_message %}
        <p class="text-danger text-center">{{ error_message }}</p>
    {% endif %}

<div class= "pic">

    <div class="container login-container mx-auto py-3 w-50 h-75 shadow pt-5 py-3 bg-white rounded">
        <div class="text-center">
            <a href="{% url 'profile' %}"><img src="{% static 'img/logo-short.png' %}" alt="logo" class="img-fluid my-5" width="100px"></a>
        </div>

        <div class="text-center my-2">
            <h3 class="mb-5">Set a new password!</h3>
        </div>

        <div class="text-center w-50 mx-auto mt-2" >
            <form method='post'> {% csrf_token %} 

                    
                <div class="form-group">
                    <input type="password" class="form-control my-2" name="new_password1" id="id_new_password1" placeholder="New password" required autocomplete="new-password">
                    <input type="password" class="form-control my-2" name="new_password2" id="id_new_password2" placeholder="Confirm new password" required autocomplete="new-password">
                </div>
                


                <input class="btn btn-success w-100" type="submit" value="Change my password">
                </div>    
        
            </form>
    </div>
</div>

{% endblock content %}
