{% extends "base.html" %}
{% load static %}
{% block title %}Comeunite Email Sent{% endblock title %}

{% block content %}

    {% if error_message %}
        <p class="text-danger text-center">{{ error_message }}</p>
    {% endif %}

<div class= "pic">

    <div class="container login-container mx-auto py-3 w-50 h-75 shadow pt-5 py-3 bg-white rounded">
        <div class="text-center">
            <a href="{% url 'profile' %}"><img src="{% static 'img/logo-short.png' %}" alt="logo" class="img-fluid my-5" width="100px"></a>
        </div>

        <div class="text-center my-2">
            <h3 class="mb-5">Check your inbox.</h3>
            <p>We've emailed you instructions for setting your password. <br>
                You should receive the email shortly!.</p>
        </div>

        <div class="text-center my-5">
            <a href="{% url 'login' %}" class="btn btn-primary btn-md">Return to Login</a>
        </div>

    </div>
</div>

{% endblock content %}
