{% extends "base.html" %}
{% load static %}
{% block title %}Comeunite Password Change Done{% endblock title %}

{% block content %}

    {% if error_message %}
        <p class="text-danger text-center">{{ error_message }}</p>
    {% endif %}

<div class= "pic">

    <div class="container login-container mx-auto py-3 w-50 h-75 shadow pt-5 py-3 bg-white rounded">
        <div class="text-center">
            <a href="{% url 'profile' %}"><img src="{% static 'img/logo-short.png' %}" alt="logo" class="img-fluid my-5" width="100px"></a>
        </div>

        <h1 class="text-center form-control-lg mx-auto p-3 mt-5 w-50 text-success"> Password has been changed successfully!</h1>

        <p class="text-center mt-4 mb-5"> Now you can  <a href="{% url 'login' %}">Login</a> with your new password.
            </p>


    </div>
</div>

{% endblock content %}
